@font-face {
  font-family: 'RR-400';
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'RM-500';
  src: url('fonts/Roboto-Medium.ttf');
}

:root {
  --RR-400: 'RR-400';
  --RM-500: 'RM-500';
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}




.main {
  background: rgb(237, 218, 204);
}

.main__content {
  width: 100%;
  position: relative;
}

.main__content-img {
  width: 100%;
  display: block;
}

.main__content-display {
  position: absolute;
  top: 60px;
  left: 482px;
  background: rgb(0, 0, 0);
  width: 251px;
  height: 533px;
  border-radius: 25px;
  overflow: hidden;
}
/* ************************************************************ */
/* tepa qismi */
.main__content-header {
  width: 100%;
  height: 90%;
  background: white;
}

.main__content-nav {
  width: 100%;
  height: 10%;
  background: rgb(193, 193, 209);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content-title {
  font-family: var(--RM-500);
  color: white;
  text-shadow: 1px 1px 4px black;
}

.main__content-box {
  width: 100%;
  height: 90%;
  background: url(images/bg.jpg)no-repeat center center /cover;
  padding: 7px;
  gap: 4px;
  
  overflow: hidden;
  overflow-y: scroll;
}

.main__content-box::-webkit-scrollbar {
  display: none;
}

.main__content-item {
  margin: 5px 0 0 30px;
  max-width: 90%;
  /* min-width: 20%; */
  padding: 3px 20px 3px 10px;
  background: rgba(94, 132, 175, 0.782);
  border-radius: 15px 15px 0 15px;
  cursor: default;
  position: relative;
  overflow: hidden;
}

.main__content-item:first-child {
  margin-top: 0;
}

.main__content-text {
  font-family: var(--RR-400);
  font-size: 13px;
}

.main__content-delete {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: .3s;
}

.main__content-delete:hover {
  transform: rotateZ(90deg);
}



























/* ************************************************************ */
/* Pastki qismi */
.main__content-footer {
  width: 100%;
  height: 10%;
  background: rgb(145, 145, 160);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__content-input {
  width: 80%;
  height: 45%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 3px 15px;
  font-family: var(--RM-500);
  font-size: 11px;
  font-weight: 500;
}

.main__content-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgb(105, 105, 179);
  cursor: pointer;
  transition: .3s;
}

.main__content-btn:hover {
  background: rgb(211, 15, 15);
}

.main__content-btn > i {
  color: white;
  font-size: 11px;
}